/*
/*/
!/.config/
/.config/*

!/.config/nvim
!/.config/nvim/*

!/.config/karabiner
!/.config/i3*
!/.config/i3*/*

!/.config/dunst

!/.lima
/.lima/_config
!/.lima/default
/.lima/default/*
!/.lima/default/lima.yaml

!/.shellcheckrc
