/*
/*/

!/.ansible-lint

!/.atom
/.atom/*
# do not add keymap -> different on Mac & Linux
/.atom/keymap.cson
!/.atom/config.cson

!/bin
!/Makefile

!/.config/
/.config/*

!/.config/gummi

!/.config/nvim
!/.config/nvim/*

!/.config/karabiner
!/.config/i3*
!/.config/i3*/*

!/.config/dunst

!/.config/qalculate
/.config/qalculate/*
!/.config/qalculate/qalc.cfg


!/.msmtprc
!/.muttrc

!/.lima
/.lima/_config
!/.lima/default
/.lima/default/*
!/.lima/default/lima.yaml.j2
!/.lima/default/template.py


!/.radare2rc
!/.rizinrc

!/.shellcheckrc

!/.taskrc

!/Library/
/Library/*
!/Library/Application\ Support/
/Library/Application\ Support/*
!/Library/Application\ Support/xbar
/Library/Application\ Support/xbar/*
!/Library/Application\ Support/xbar/plugins

