// snatched from https://support.mozilla.org/en-US/questions/1207607#answer-1083704

#PlacesToolbarItems,
#sidebar-search-container #search-box,
.sidebar-placesTree {
  font-size: 15px !important;
  font-weight: bold !important;
}

label.tab-text {
  font-size: 15px !important;
}
